<app-landing-section [textToDisplay]="" 
[layoutConfiguration]="layoutConfiguration" [noTitle]="false"></app-landing-section>
<div class="sbt-fluid-content-bg">
    <div class="landing-page-section mb-20 relative9">
        <div class="ui container">
            <div class="ui stackable grid pb-20 mt-0">
                <div class="six wide column">
                    <h2>The Papua New Guinea Education Transformation Vision 2075</h2><img class="ui fluid image" src="https://www.education.gov.pg/IEC-Materials/images/students.jpg"> <!--     <img class="ui fluid image" src="{{'assets/images/landingPage.jpg' |  cdnprefixurl}} " />-->
                </div>
                <div class="six wide column">
                    <p>The PNGETV 2075 is about reforming the general education system in the country by overhauling and reconstructing what does not work and maintaining what works so that by 2075, no child will be left behind.</p>
                    <p>This plan will be implemented in cycles through continuous planning, management, implementation, and evaluation of important short-term strategies and plans such as the MTDP IV, sector and agency plans, provincial plans, district plans, LLG plans, and ward plans. The PNGETV 2075 highlights prevailing and/or perennial challenges and propose policy options that the Education Department and its partners at the national and sub-national levels could employ to address these challenges.<br><a href="https://www.education.gov.pg/sites/education-vision-2075/" target="_blank" rel="noopener noreferrer">Read More &gt;</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="ui container relative9">
        <div class="ui stackable grid">
            <div class="eight wide column ">
                <div class="ui segment">
                    <div class="header p-10 segment-heading"><span>Featured Articles</span> <a href="#" class="right-floated">View All</a></div><br>
                    <div class="ui two stackable cards">
                        <div class="ui card">
                            <div class="content card-opacity">
                                <div class="description">
                                    <p><br></p>
                                </div>In 2022, the Government is taking full responsibility to pay 100% tuition fees under the revised GTFS Policy. The Government is relieving parents who are struggling to maintain the partnership established in tuition fee payment for students in the last two years. The Government maintains two components in the policy &ndash; Operation and Functional Grant (80% funding paid directly to school accounts) and Commodity Component (20% to procure and supply teaching and learning materials and to support Mathematics and Science in schools)
                            </div>
                            <h4 class="article-header-padding">GOVERNMENT TUITION FEE SUBSIDY (GTFS) POLICY</h4>
                        </div>
                        <div class="ui card">
                            <div class="content card-opacity">
                                <div class="description">
                                    <p>The Department of Education and PNG Sports Foundation signed a Memorandum of Understanding to strengthen the relationship between the two organizations.</p>
                                    <p>Secretary for Education, Dr. Uke Kombra, PhD, OBE and the Chief<br>Executive Officer for the PNGSF, Mr. Albert Veratau signed the MOU<br>in a brief ceremony on Wednesday, 3rd April in Port Moresby.</p>
                                </div>
                            </div>
                            <h4 class="article-header-padding">DEPARTMENT OF EDUCATION SIGNED A MOU WITH PNG SPORTS</h4>
                        </div>
                        <div class="ui card">
                            <div class="content card-opacity">
                                <div class="description">
                                    <p>The Education Minister, Jimmy Uguro announced today that the National Executive Council has approved and endorsed the PNG Education Transformation Vision 2025 (PNGETV 2075) by the Education Department.</p>
                                    <p>The PNGETV 2075 is a 50-year education strategic plan that will span over 5 decades of continuous planning, management, implementation, and evaluation through short term plans such as MTDP IV, sector and agency plans, provincial plans, district plans, Local Level Government plans and ward plans.</p>
                                </div>
                            </div>
                            <h4 class="article-header-padding">NEC APPROVAL FOR 50 YEAR EDUCATION PLAN</h4>
                        </div>
                        <div class="ui card">
                            <div class="content card-opacity">
                                <div class="description">
                                    <p>Teachers in the National Education System have been instructed to ensure that all children of compulsory school age must attend school each day of which the school is open for instruction.</p>
                                    <p>Students&rsquo; enrolment and attendance had become a concern and the Secretary for the Department of Education Dr Uke Kombra, PhD, OBE has reminded all teachers to comply with policy directions on student enrolment and attendance and address issues where necessary.</p>
                                </div>
                            </div>
                            <div class="article-header-padding">TEACHERS INSTRUCTED TO ADDRESS STUDENT ENROLMENT AND ATTENDANCE ISSUES</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="four wide column">
                <div class="ui segment">
                    <div class="content">
                        <div class="header segment-heading"><span>Announcements</span> <a class="right-float">View All</a></div>
                        <div class="description mt-10">
                            <div class="ui relaxed divided list">
                                <div class="item">
                                    <div class="content"><a class="header text-decoration-underline">Back To School Campaign</a><br>
                                        <div class="description"><img src="https://education.gov.pg/admin/images/products/996213b03b5d6a7065e33cebf65f6bf1.gif"/></div>
                                    </div>
                                </div><br>
                                <div class="item">
                                    <div class="content"><br><a class="header text-decoration-underline">Schools Not to charge any form of fees in 2024</a><br>
                                        <div class="description">Final notice to headteachers and principals in Papua New Guinea defying official instructions and collecting school fees.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><br>
                <div class="ui segment">
                    <div class="content">
                        <div class="header segment-heading"><span>Calendar</span> <a class="right-float">View All</a></div>
                    </div>
                </div><button type="button" class="ui basic fluid button mt-5">ORGANIZATIONS</button>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>